<div class="row">
  <div class="col-sm-12">
    <h4 class="title">Well<b>Done</b></h4>

    <ul class="list">
      <li ng-repeat="keep in done" class="wow fadeInRight" data-wow-delay="2s">
        <span>
          <i class="glyphicon glyphicon-ok"> </i>
          {{ keep.title }} @ {{ formatDate(keep.completed_at) }}
          <a ng-click="removeIt(keep.id, $index)" class="destroy">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </a>
        </span>
      </li>
    </ul>
  </div>
</div>